<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph Editor</title>
    <style>
        #graphContainer {
            position: relative;
            width: 800px;
            height: 800px;
        }
        
        #wallImage1, #wallImage2, svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;  /* Ensure images are behind SVG */
        }
        
        svg {
            z-index: 1;  /* Ensure SVG is in front of images */
        }
    </style>
</head>
<body>
    <div id="graphContainer">
        <img src="/static/images/kilter_large_holds.png" id="wallImage1" alt="Climbing Wall 1">
        <img src="/static/images/kilter_small_holds.png" id="wallImage2" alt="Climbing Wall 2">
        <svg width="1080" height="1170"></svg>
    </div>
    <button onclick="navigate('previous')">Previous</button>
    <button onclick="navigate('next')">Next</button>
    <button id="toggleConnectMode">Connect Nodes</button>
    <button id="drawGraphButton" onclick="fetchGraphData()">Draw Graph</button>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
